.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  width: 400px;
  align-self: center;
  padding: 10px 20px 20px;
  transform: translateZ(0);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 0 0 20px 20px;
  overflow: hidden;
}

/* Rainbow border <start> */

.header::before,
.header::after {
  content: "";
  position: absolute;
  z-index: -1;
}

.header::before {
  animation: 6s rotate linear infinite;
  width: 500%;
  height: 500%;
  background: conic-gradient(
    #ff0000,
    #ff9a00,
    #d0de21,
    #4fdc4a,
    #3fdad8,
    #2fc9e2,
    #1c7fee,
    #5f15f2,
    #ba0cf8,
    #fb07d9,
    #ff0000
  );
}

.header::after {
  inset: 0;
  padding: 0 2px 2px 2px;
  border-radius: 0 0 20px 20px;
  background: #befa00;
  background-clip: content-box;
}

/* Rainbow border </end> */

.header h1 {
  border-bottom: 2px solid green;
  padding-bottom: 3px;
  margin-bottom: 10px;
}

.footer {
  margin-top: auto;
  text-align: center;
  width: 100%;
  padding: 5px;
  background-color: gainsboro;
}

.heart {
  color: red;
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
